@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
.container {
    background-color: #e5b87c;
    font-family: 'PT Serif Caption', serif;
    padding-left: 10px;
    padding-bottom: 20px;
}

.container #title {
    text-align: center;
    font-size: 32pt;
}

.container #paragraph-1 {
    width: 33.33%;
}

.container #paragraph-2 {
    align-self: center;
    width: 33.33%;
}