@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
.container {
    background-color: #e5b87c;
    font-family: 'PT Serif Caption', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#title {
    text-align: center;
    font-size: 32pt;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.paragraphs {
    width: 33.33%;
}

#paragraph-2 {
    padding-left: 15px;
    padding-right: 15px;
}

