@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
.container {
    background-color: #e5b87c;
    font-family: 'PT Serif Caption', serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

#title {
    text-align: center;
    font-size: 32pt;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.paragraphs {
    width: 33.33%;
}

#paragraph-2 {
    padding-left: 25px;
    padding-right: 25px;
}

#timeline {
    text-align: center;
}

#timeline:hover {
    background: url(../images/photography_timeline.png);
}

#photo {
    text-align: center;
}

