@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
.container {
    background-color: #e5b87c;
    font-family: 'PT Serif Caption', serif;
}

.container #title {
    text-align: center;
    font-size: 32pt;
}

.container.paragraph-1 {
    width: 33.33%;
}