@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
.container {
    background-color: #F5D089;
    font-family: 'PT Serif Caption', serif;
}

.container #title {
    text-align: center;
    font-size: 32pt;
}