@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #DCC7AA;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 500;
}

div {
    line-height: 1.5em;
    padding: 5px;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 30px;
}

header {
    position: fixed;
    background-color: #565051;
    width: 100%;
    top: 0;
    text-align: left;
    left: 0;
}

.menu {
    display: inline-block;
    background-color: #565051;
    min-width: 6em;
    text-align: center;
    padding: 5px;
}

.menu a {
    color: white;
}


.menu:hover {
    background-color: #837E7C;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #565051;
    z-index: 1;
}

.dropdown-content a {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 5px;
    text-align: center;
    margin: 0;
    min-width: 5.9em;
}

.dropdown-item:hover {
    background-color: #837E7C;
}

.left-waterfall {
    float: left;
    content: url("../images/waterfall4_small.png");
}

@media only screen and (min-width: 600px) {
    .left-waterfall {
        content: url("../images/waterfall4.png");
    }
}

.right-waterfall {
    float: right;
    content: url("../images/waterfall1_small.png");
}

@media only screen and (min-width: 600px) {
    .right-waterfall {
        content: url("../images/waterfall1.png");
    }
}

.about-waterfall {
    margin: auto;
    content: url("../images/waterfall5_small.png");
}

@media only screen and (min-width: 600px) {
    .about-waterfall {
        margin: auto;
        content: url("../images/waterfall5.png");
    }
}

.contact-waterfall {
    margin: auto;
    content: url("../images/waterfall2_small.png");
}

@media only screen and (min-width: 600px) {
    .contact-waterfall {
        margin: auto;
        content: url("../images/waterfall2.png");
    }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.changing-paragraphs {
    text-align: center;
    width: 100%;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    .changing-paragraphs {
        text-align: left;
        float: left;
        width: 50%;
        padding: 15px;
    }
}

@media only screen and (min-width: 600px) {
    .new-row::after {
        content: "";
        clear: both;
        display: table;
    }
}

.form {
    width: 50%;
    margin-left: 28%;
    
}
