* {
    box-sizing: border-box;
}

div {
    line-height: 1.5em;
    padding: 5px;
    margin-bottom: 10px;
}

header {
    position: fixed;
    background-color: #565051;
    width: 100%;
    top: 0;
    text-align: left;
    left: 0;
}

.menu {
    display: inline-block;
    background-color: #565051;
    min-width: 6em;
    text-align: center;
    padding: 5px;
}

.menu a {
    color: white;
}


.menu:hover {
    background-color: #837E7C;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #565051;
    z-index: 1;
}

.dropdown-content a {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 5px;
    text-align: center;
    margin: 0;
    min-width: 5.9em;
}

.dropdown-item:hover {
    background-color: #837E7C;
}

.left-waterfall {
    float: left;
    content: url("../images/waterfall4_small.png");
}

@media only screen and (min-width: 600px) {
    .left-waterfall {
        content: url("../images/waterfall4.png");
    }
}

.right-waterfall {
    float: right;
    content: url("../images/waterfall1_small.png");
}

@media only screen and (min-width: 600px) {
    .right-waterfall {
        content: url("../images/waterfall1.png");
    }
}

.about-waterfall {
    margin: auto;
    content: url("../images/waterfall5_small.png");
}

@media only screen and (min-width: 600px) {
    .about-waterfall {
        margin: auto;
        content: url("../images/waterfall5.png");
    }
}

.changing-paragraphs {
    text-align: center;
    width: 100%;
    padding: 15px;
}

.always-fullscreen {
    clear: both;
    text-align: center;
    width: 100%;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    .changing-paragraphs {
        text-align: left;
        float: left;
        width: 50%;
        padding: 15px;
    }
}