* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 

header {
    position: fixed;
    background-color: #565051;
    width: 100%;
    top: 0;
    text-align: left;
    left: 0;
}

.menu {
    display: inline-block;
    background-color: #565051;
    min-width: 6em;
    text-align: center;
    padding: 10px;
}

.menu a {
    color: white;
}


.menu:hover {
    background-color: #837E7C;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 6 em;
    background-color: #565051;
    padding: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 5px;
    text-align: left;
    margin: 0;
    min-width: 6em;
}

.dropdown-item:hover {
    background-color: #837E7C;
}