
header {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 2.5em;
    background-color: #8C8C8C;
}

.menu {
    display: inline-block;
    text-align: center;
    margin: 0 0;
    padding: 0.5em 0;
    min-width: 8em;
    background-color: #E5E4E2;
}

.menu a {
    color: black;
}

.menu:hover {
    background-color: #CECECE;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    text-align: center;
    padding: 4px;
    position: absolute;
    background-color: #E5E4E2;
    z-index: 1;
}

.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    padding: 0.5px;
}

.dropdown-item:hover {
    background-color: #CECECE;
}

.content-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 6px double #52595D;
}

#first-ragdoll {
    flex: 1;
}

#paragraph-1 {
    flex: 2;
    overflow: scroll;
    padding: 5px;
    height: 300px;
    background-color: #E5E4E2;
}